.login_btn
{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
#login
{
    background-image:url(../img/flight_background.jpg);
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    height: 100%;
    align-content: center;
    
}
.card
{
    height: 500px;
    text-align: center;
    line-height: 50px;
    padding-top: 40px;
    opacity: .8;
}
